<% provide(:title, "BOOK TIME？") %>
<div id="fh5co-about">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 class="title-about">BOOK TIME？</h1>
        <h4>　読書をしたら、誰でも簡単に記録に残し、共有できるサービスです。</h4>
      </div>
      <div class="col-md-10">
        <div>
          <ol>
            <li class="A">本を読んだら、そこで終了するのはもったいない！</li>
            <p>・感想を書いて自分の思考を整理</p>
            <p>・本を読んでいる子どもの写真をのせて、読書アルバムを作る</p>
            <p>・読んだ内容をアウトプットするツールとして使う</p>
            <p>・ハンドメイドの本なら作った物の写真を載せる</p>
            <p>など、記録や思い出を残しませんか？</p>
            <br>
            <p>他の人の投稿文を読んだり、交流することで、新たな発見があるかもしれません。</p>
            <p>まずは、読んだ本に関する思いのたけを投稿してみましょう！</p>
          </ol>
        </div>
      </div> 
    </div>
  </div>
</div>