<% provide(:title, '本一覧') %>
<div id="fh5co-portfolio">
  <div class="container">
    <% if @search_word.present? %>
      <h3>”<%= @search_word %>”の検索結果：<%= @books.count %>件</h3>
    <% else %>
      <h3>本一覧</h3>
    <% end %>
    <ul class="books">
      <%= render @books %>
    </ul>
    <%= will_paginate %>
  </div>
</div>